
body {
    display: flex;
    justify-content: center;
    align-content: center;
}

main{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
    margin: 5%;
    padding: 1%;
    background-color: lightgray;
    height: 60vh;
    width: 50vw;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: #555;
    margin: 5%;
    border-radius: 50%;
    border: 3px solid #32557f;
}

.circle:hover {
    background-color: red;
}

.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;

}