
body {
    display: flex;
    justify-content: center;
    align-content: center;
}

main{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
    margin: 5%;
    padding: 1%;
    background-color: lightgray;
    height: 60vh;
    width: 50vw;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    margin: 1%;
}

.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;

}